configuration {

    modi: "drun,run,window";
    

    show-icons: true;
    icon-theme: "Tela";
    

    font: "HannariMincho 12";
    
    drun-display-format: "{icon} {name}";
    display-drun: "⛩️ Apps";
    display-run: "📜 Cmd";
    display-window: "🪟 Win";
    
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@theme "theme"
